{{#if fullBleed}}
<div class="container responsivegrid container--fullbleed" style="background-color: #ececec">
  <div id="container-85b2c5bb95" class="cmp-container"
    style="background-image: url({{bgImgUrl}});background-size: cover;background-position: center;background-repeat: no-repeat;">
  </div>
</div>
{{else}}
<div class="container responsivegrid" style="background-color: {{bgColor}}; height: {{height}};">
  <div class="cmp-container" style=" border: 1px dashed #FFFFFF; display: flex; flex-direction: column; gap: 1.5rem">
    <div class="title">
      <div class="cmp-title">
        <h3 class="cmp-title__text" style="color: #ffffff">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text">
      <div class="cmp-text">
        <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi
          enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="container responsivegrid container--max-content" style="background-color: gray; height: 400px;">
  <div class="cmp-container" style=" border: 1px dashed #FFFFFF; display: flex; flex-direction: column; gap: 1.5rem">
    <div class="title">
      <div class="cmp-title">
        <h3 class="cmp-title__text" style="color: #ffffff">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text">
      <div class="cmp-text">
        <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi
          enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
      </div>
    </div>
  </div>
</div>

<div class="container responsivegrid" style="background-color: {{bgColor}}; height: {{height}};">
  <div class="cmp-container" style=" border: 1px dashed #FFFFFF;">
    <div class="container responsivegrid container--max-content" style="background-color: gray; height: 400px;">
      <div class="cmp-container"
        style=" border: 1px dashed #FFFFFF;">
        <div class="title">
          <div class="cmp-title">
            <h3 class="cmp-title__text" style="color: #ffffff">hi Lorem Ipsum</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="text">
      <div class="cmp-text">
        <p style="color: black">Full bleed Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi
          enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
      </div>
    </div>
  </div>
</div>